<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="90a6be">  <td>19/01/09 21:03:47</td>   <td>0</td> <td title="&gt;&gt;BaseTest.beforeSuite()[pri:0, instance:com.saf.aw_nxt_end_to_end_tests.USExisCusREC_High@470f1802]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1780034814</td>   <td>1192171522 </td> </tr>
<tr bgcolor="90a6be">  <td>19/01/09 21:03:50</td>   <td>2932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseTest.beforeMethod()[pri:0, instance:com.saf.aw_nxt_end_to_end_tests.USExisCusREC_High@470f1802]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1780034814</td>   <td>1192171522 </td> </tr>
<tr bgcolor="726b71">  <td>19/01/09 21:04:26</td>   <td>39401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="USExisCusREC_High.USNewCusREC_High_TEST()[pri:0, instance:com.saf.aw_nxt_end_to_end_tests.USExisCusREC_High@470f1802]">USNewCusREC_High_TEST</td> 
  <td>main@1780034814</td>   <td>1192171522 </td> </tr>
<tr bgcolor="90a6be">  <td>19/01/09 21:09:50</td>   <td>363079</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseTest.afterMethod(org.testng.ITestResult)[pri:0, instance:com.saf.aw_nxt_end_to_end_tests.USExisCusREC_High@470f1802]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1780034814</td>   <td>1192171522 </td> </tr>
<tr bgcolor="90a6be">  <td>19/01/09 21:09:52</td>   <td>365355</td> <td title="&lt;&lt;BaseTest.afterSuite()[pri:0, instance:com.saf.aw_nxt_end_to_end_tests.USExisCusREC_High@470f1802]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1780034814</td>   <td>1192171522 </td> </tr>
</table>
